@import url("./Navigator.scss");
@import url("./Entity.scss");
@import url("./Matching.scss");
@import url("./TriggeringPoint.scss");
@import url("./Name.scss");
@import url("./SubEntity.scss");

.App {
  display: flex;
  flex-direction: column;
  gap: 100px;
  overflow: hidden;
  overflow-x: hidden;
  padding: 0 50px;
  padding-bottom: 50px;
  background-color: #f3f5f5;
}
.App::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}
