.matching-container {
  height: 500px;
  width: 100%;
  border: 2px solid #e7eaeb;
  margin-top: 100px;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, #f3f4f6, #eca466);
  padding: 30px;
  .footer {
    position: sticky;
    display: flex;
    gap: 15px;
    margin-bottom: -15px;
    button {
      width: 100px;
      height: 40px;
      border-radius: 8px;
      border: 2px solid #eca466;
      color: #eca466;
      cursor: pointer;
      font-weight: 500;
    }
  }
}
