.sub-entity-container {
  height: 220px;
  width: 200px;
  background: linear-gradient(135deg, #f3f4f6, #8dc0aa);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  cursor: pointer;
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    color: #08442a;
  }
  .name {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 10px;
    h1 {
      font-size: 14px;
      color: #08442a;
    }
  }
  .info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    font-size: 10px;
    padding: 10px;
    color: #1c744e;
    margin-bottom: 10px;
  }
}
